<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qzero.telegram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".TelegramApplication"
        android:allowBackup="true"
        tools:replace="android:label"
        android:icon="@mipmap/icon_bt"
        android:label="@string/app_new_name"
        android:roundIcon="@mipmap/icon_bt_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.FileResourceDetailActivity"></activity>
        <activity android:name=".view.activity.InputSessionInfoActivity" />
        <activity android:name=".view.activity.UserInfoDetailActivity" />
        <activity android:name=".view.activity.SessionDetailActivity" />
        <activity android:name=".view.activity.ChatActivity" />
        <activity android:name=".view.activity.FullUpdateActivity" />
        <activity android:name=".view.activity.UserCenterActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".notice.NoticeMonitorService" />
    </application>

</manifest>